.body-shadow {
	box-shadow: 0px 0px 5px 1px #444444;
	margin: 20px;
	background-color:#d8d8d8
}
.container{
	width: auto;
}
.navbar-inverse {
	background-color: #01ac78;
	box-shadow: 0px 2px 5px 0px #444444;
}
.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: transparent;
	text-decoration: underline;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}
.navbar-divider{
    position:static !important;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white;
}
.carousel-inner > .item > img { 
	margin: 0 auto; 
}
.carousel {
	position: relative;
}
.left-box-shadow {
	background-color:white;
	box-shadow: 0px 10px 5px -5px #888888;
	margin: 8px;
	padding: 15px;
}
.right-header-box {
	background-color:#f0eeef;
	margin: 8px;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}
.green-footer {
	background-color: #066b4d;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 38px;
	padding-right: 38px;
	color: #a4a2a3;
}
h4.footer {
	text-align: center;
	color: #b5f9e4;
}
a:link {
	color: white; 
}
a:visited {
	color: white;
}
a:hover {
	color: #b5f9e4;
	text-decoration: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #01ac78;
  border-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #01996b;
  border-color: transparent;
}

.btn-caret {
	color: #ffffff;
	background-color: #01ac78;
	border-color: transparent;
	border-radius: 0px;
}
.pull-middle {
	vertical-align: middle;
	margin: auto;
}