@font-face {
	font-family: 'Eurostile';
	src: url('../fonts/eurostile-webfont.eot');
	src: url('../fonts/eurostile-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/eurostile-webfont.woff') format('woff'), url('../fonts/eurostile-webfont.ttf') format('truetype'), url('../fonts/eurostile-webfont.svg#eurostile-webfont') format('svg');
}
@font-face {
	font-family: 'Eurostile';
	src: url('../fonts/eurostile-bold-webfont.eot');
	src: url('../fonts/eurostile-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/eurostile-bold-webfont.woff') format('woff'), url('../fonts/eurostile-bold-webfont.ttf') format('truetype'), url('../fonts/eurostile-bold-webfont.svg#eurostile-boldwebfont') format('svg');
	font-weight: bold;
 }
.body-shadow {
	box-shadow: 0px 0px 5px 1px #444444;
	margin: 20px;
	background-color:#d8d8d8;
	/* font-family: "Eurostile"; */
}
.container{
	width: auto;
}
.navbar {
	background-color: #01ac78;
	box-shadow: 0px 2px 5px 0px #444444;
	border: 0px;
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
}
.navbar-brand {
	min-height: 50px;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: transparent;
	text-decoration: underline;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}
.navbar-tabs{
    position: static !important;
	padding: 9px 43px;
	border-right: 1px solid white;
	font-weight: bold;
	font-family: "Eurostile";
	font-size: 15px;
}
.carousel-inner > .item > img { 
	margin: 0 auto; 
}
.carousel {
	position: relative;
}
.left-box-shadow {
	background-color:white;
	box-shadow: 0px 10px 5px -5px #888888;
	margin: 8px;
	padding: 0px;
}
.right-heading-box {
	background-color:#f0eeef;
	margin: 8px;
	padding: 32px;
}
.right-heading-box-body {
	margin: 38px 0px;
}
.green-footer {
	background-color: #066b4d;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 38px;
	padding-right: 38px;
	color: #a4a2a3;
}
a:link {
	color: white; 
}
a:visited {
	color: white;
}
a:hover {
	color: #b5f9e4;
	text-decoration: none;
}
.btn-primary {
	color: #ffffff;
	background-color: #01ac78;
	border-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #01996b;
	border-color: transparent;
}
.btn-default {
	color: #444444;
	background-color: #b5fde7;
	border-color: transparent;
	margin-bottom: 3px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #444444;
	background-color: #96d2bf;
	border-color: transparent;
}
.btn-caret {
	color: #ffffff;
	background-color: #01ac78;
	border-color: transparent;
	border-radius: 0px;
}
.btn-sm {
	padding: 6px;
}
.pull-middle {
	vertical-align: middle;
	margin: auto;
}
.modal-open, .modal-open .navbar-fixed-top {
	margin-right: 0 !important;
}
.modal-header {
	min-height: 16.428571429px;
	padding: 5px;
	background-color: #01ac78;
	color: white;
}
.modal-dialog { 
	margin-top: 15%;
}
h1.footer,
h2.footer,
h3.footer,
h4.footer {
	text-align: center;
	color: #b5f9e4;
	font-weight: bold;
}
h1,
h2,
h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Eurostile";
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h4 {
	font-weight: bold;
}
hr {
	border-color: #dcdcdc;
	background-color: #dcdcdc;
	margin-top: 0px;
	margin-bottom: 12px;
}
ul.categories{
	padding-left: 12px;
	list-style-image: url('../img/chevron-right.png');
}
ul.right-box-list {
	list-style-type: none;
	padding-left: 20px;
}
ul.right-box-list > li:hover {
	text-decoration: underline;
	cursor: pointer;
}
ul.right-box-list > li {
	background-image: url('../img/chevron-down.png');
	background-repeat: no-repeat;
	margin-bottom: 11px;
	background-position: 0 5px;
	padding: 6px 0px 4px 35px;
}
.categories {
	font-size: 17px;
	color: #888888;
	font-family: "Eurostile";
}
