.carousel-inner > .item > img { 
	margin: 0 auto; 
}
.carousel {
	position: relative;
}
.left-box-shadow {
	background-color:white;
	box-shadow: 0px 10px 5px -5px #888888;
	margin: 8px;
}
body {
	background-color:#d8d8d8
}
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}